@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
  box-sizing: border-box;
}

.App {
  font-family: 'Raleway', sans-serif; 
}

.nav {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding: 10px;
}

h1{
  display: flex;
  justify-content: space-around;
}

h2 {
  padding: 5px;
}

ul {
  list-style: none;
  padding: 5px 20px 0 0;
}

li {
  padding: 7px;
  display: inline;
}

p {
  width: 800px;
  margin: auto;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: pink;
}

.about-me {
  display: flex;
  width: 200px;
  margin: auto;
  padding: 8px;
  border-radius: 200px;
}

/* .project-gallery {
  background-color: lightgray;
} */

span {
  color: darkgrey;
}

span:hover {
  color: pink;
}